{{extend 'layout.html'}}
<br />
<h3 style="text-align: center">Bargain Request Record</h3>

<div class="container box four">{{=grid}}
    
</div>

<style>
    
    

    .four {
      border: none;
/*       background: linear-gradient(135deg,#1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b); */
        padding: 5px 5px 50px 5px;
         background: rgb(220, 220, 220);
      -webkit-mask:
        conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/80px 100%;
    }
</style>
